
page-home {
    // iOS only
    .toolbar-ios { 
        ion-title {
            padding: 0 80px 0 1px;  
        } 
        .searchbar-ios .searchbar-input {
            background: rgba($color: #000, $alpha: 0.12);            
        }
		 
		 padding: 20px;
    }

    // iOS & Android only
    .item-md, .item-ios {
        h2 {
            color: rgba($color: #000, $alpha: .87);
        }
        p {
            color: rgba($color: #000, $alpha: .54);
        }
    }

    // iOS, Android & WP
    .item-md, .item-ios, .item-wp {
        h2, p {
            white-space: normal;
        }
	}
	
	.inAppBrowserWrap {
			background-color: rgba(0,0,0,0.75);
			color: rgba(235,235,235,1.0);
		}
		.inAppBrowserWrap menu {
			overflow: auto;
			list-style-type: none;
			padding-left: 0;
		}
		.inAppBrowserWrap menu li {
			font-size: 25px;
			height: 25px;
			float: left;
			margin: 0 10px;
			padding: 3px 10px;
			text-decoration: none;
			color: #ccc;
			display: block;
			background: rgba(30,30,30,0.50);
		}
		.inAppBrowserWrap menu li.disabled {
				color: #777;
		}
	
}